body {
    background-color:  #151C21;
}
*{
    list-style: none;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
}
.dev{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    font-size: 1.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242222;
    margin: 30px 60px 0 60px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
.web {
    color: #13BBFF;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.list ul {
    display: flex;
    gap: 90px;
    margin-left: -70px;
    font-size: 1.5vw;
    transition: font-size 0.3s ease;
}
.list a:hover{
    color: #13BBFF;
}
.container{
    display: flex;
    justify-content: space-between;   
}
.image img{
    height: 90vh;  
    object-fit: cover; 
}
.presentation{
    margin: 90px;
}
.bonjour{
    font-size: 40px;
}
.bio{
    font-size: 40px;
}
.blue_name{
    font-size: 40px;
    color: #13BBFF;
}
p{
    font-size: 20px;
    margin-top: 10px;
}
.div_icon{
    margin-top: 15px;
}
.icone{
    height: 40px;
    margin-left: 10px;
}
.icone2{
    height: 36px;
}
.button_downl{
    margin-top: 20px;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    background-color: #151C21;
    border-color: white;
    border-radius: 20px;
}
.button_downl:hover{
    color: #13BBFF;
    border-color: #13BBFF;
}

.image{
    height: auto;
    
}
.image img{
    height: 542px;
    width: 500px;
}
